{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <div class="article">
                <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                <div class="well small">{% include "article_infos.html" %}</div>
                <div class="summary">{{ article.summary }}
                        <a class="btn primary xsmall" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
        </div>
        <hr />
        {% endfor %}
        
{% endif %}
{% endblock content %}